.card-container{
  position: relative;
  width: 500px;
  height: 600px;
  border: 2px solid rgb(229, 179, 205);
  margin-top: 40px;
  margin-left: 670px;
  border-radius: 50px;
}
.flip-container{
  position: absolute;
  width: 100%;
  height: 100%;

}
.front{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
  background: rgb(242, 217, 230);
  text-align: center;
  font-family: Pacifico, sans-serif;
  font-size: 25px;
  color:rgb(76, 26, 52);
  background-image: url('resources/download.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 10;
  //width:500px;
  //height:567px;
  //padding:0px;
  /* for firefox 31 */
  transform: rotateX(0deg);
}

.back{
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50px;
  background: rgb(242, 217, 230);
  text-align: center;
  font-family: Pacifico, sans-serif;
  font-size: 25px;
  background: rgb(242, 217, 230);
  color:rgb(76, 26, 52);
  z-index: 5;
  //width:500px;
 //height:567px;
  //padding:0px;
  transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
 }
 .inside{
   width: 100%;
   height: 100%;
   position: absolute;
   border-radius: 50px;
   background: rgb(242, 217, 230);
   background-image: url("https://www.emailonacid.com/images/blog_images/Emailology/2016/HolidayCard_InsideRight.jpg");
   text-align: center;
   font-family: Pacifico, sans-serif;
   font-size: 25px;
   background: rgb(242, 217, 230);
   color:rgb(76, 26, 52);
   z-index: -1;
  position: absolute;
 }

 .front, .back {
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   position: absolute;
   top: 0;
   left: 0;
 }
 .flipper, .inside {
     transition: 2s;
     transform-style: preserve-3d;
     -webkit-transform-style: preserve-3d;
     -ms-transform-style: preserve-3d;
     position: relative;
   }


/*
button{
  position: absolute;
  width: 90px;
  height: 70px;
  border-radius: 50%;
  background: rgb(242, 217, 230);
  font-family: Pacifico, sans-serif;
  font-weight: bold;
  font-size: 15px;
  margin-top: 90px;
  margin-left: 210px;
  border: 2px solid rgb(229, 179, 205);
  cursor: pointer;
}
.front #click:hover {
  transform: rotateY(180deg);
}
a{
  text-decoration: none;
  color:rgb(76, 26, 52);
}*/
